.thongbao{
    color: #ff0a0a8c;
    font-size: 13px;
    font-weight: bold;
}
.login{
    width: 300px;
    margin: auto;
    height: 40px;
    line-height: 40px;
    background-color: #61a017;
    color: white;
    margin-top: -10px;
    border-radius: 15px;
    text-align: center;
}
.login p{
    font-size: 18px;
}